.hand{

}
.dealer_card{
 width: 80px;
    height: 120px;
    border: 1px dotted black;
    float: left;
    margin: 5px 5px;
    padding: 5px;
}
.card{
    width: 80px;
    height: 120px;
    border: 1px dotted black;
    float: left;
    margin: 5px 5px;
    padding: 5px;
  }
.clear{
  clear: both;
}
